<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../loger.css">
    <title>Plano 3</title>
</head>
<body>
    <div class="cont__señalador">
        <p>
            Eliminar Alumno
        </p>
    </div>
    
    <div class="cont__eliminar">
        <form action="/plano3" method="POST" class="form__admin__eliminar">
            <label for="name" class="label"> Nombre</label> <br>
            <input type="text" name="name"><br><br>
            <label for="surname" class="label">Apellido</label><br>
            <input type="text" name="surname"><br><br>
            <label for="id" class="label">Ingrese ID</label><br>
            <input type="number" name="id"><br><br>
            <button class="eliminar__datos"> Eliminar Alumno </button>
        </form>
    </div>
</body>
</html>