<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../loger.css">
    <title>Registro Administrador</title>
</head>
<body>
    <div class="cont__form__registro">
        <form action="/registroAdmin" method="POST" class="form__registro">
            <label for="name">Ingrese Nombre</label><br>
            <input type="text" name="name"><br><br>
            <label for="usuario">Ingrese un usuario</label><br>
            <input type="text" name="usuario"><br><br>
            <label for="password">Ingrese una contraseña</label><br>
            <input type="password" name="password"><br><br>
            <button class="btn__registrase">Registrarse</button>
        </form>
    </div>
    
</body>
</html>